*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    line-height: normal;
    color: #31405b;
}

body > * {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

label {
    cursor: pointer;
}

input {
    font-family: "PT Sans", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

span.bold {
    font-weight: 700;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.main-header {
    font-size: 54px;
    line-height: 1.3;
    color: #31405b;
}

.inner-page {
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #f2f8f6;
}

.hided-br br {
    display: none;
}
