.button {
    display: inline-block;
    padding: 12px 40px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    background: #0ac883;
    box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
