.checkbox-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 17px;
}

.checkbox-row:last-child {
    margin-bottom: 0;
}

.real-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

.real-checkbox:focus + .custom-checkbox {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.custom-checkbox::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    width: 17px;
    height: 17px;
    background-image: url(./../img/icons/check.svg);
    transition: transform 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}
