.footer {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #265847;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-widgets-wrapper {
    display: flex;
    padding-top: 10px;
}

.footer-copyright {
    width: 270px;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 1.6;
}

.footer-logo {
    margin-bottom: 26px;
}

.footer-widget {
    font-size: 18px;
}

.footer-widget-info {
    width: 170px;
}

.footer-widget-services,
.footer-widget-contacts {
    width: 270px;
}

.footer-widget:not(:last-child) {
    margin-right: 30px;
}

.footer-widget p {
    margin-top: 0;
    margin-bottom: 15px;
}

.footer-widget-title {
    margin-bottom: 30px;
    font-size: 24px;
}

.footer-widget-list {
    font-size: 18px;
}

.footer-widget-list li {
    margin-bottom: 15px;
}

.footer-widget-list li:last-child {
    margin-bottom: 0;
}
