.form {
    width: 630px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
}

.form-title {
    margin-bottom: 20px;
    font-size: 28px;
}

.form-group {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.25;
}

.form-group:last-of-type {
    margin-bottom: 35px;
}

.form-group-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group-row > .input + .input {
    margin-left: 15px;
}

.input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: #31405b;
    background: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
}

.input::placeholder {
    color: rgba(49, 64, 91, 0.5);
}
