.header {
    position: relative;
    height: 800px;
    padding-top: 50px;
    background-color: #265847;
    background-image: url("./../img/header/header-bg.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url("./../img/header/header-small-bg.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1170px;
}

.header-nav {
    font-size: 22px;
    color: #fff;
}

.header-nav-button {
    display: none;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav-link {
    text-decoration: none;
    color: #fff;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    width: 1170px;
    text-align: center;
}

.header-title {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1.3;
}

.header-content p {
    font-size: 24px;
}

.header-scroll {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    display: block;
    padding-bottom: 34px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.header-scroll::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/header/arrow-down.svg");
}
