.radio-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 21px;
}

.radio-row:last-child {
    margin-bottom: 0;
}

.real-radio {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.custom-radio {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
}

.real-radio:focus + .custom-radio {
    border: 1px solid #2ab698;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.custom-radio::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    width: 12px;
    height: 12px;
    background-color: #2ab698;
    border-radius: 50%;
    transition: transform 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}
